<div class="flex flex-col w-full  justify-center items-center  p-8">
    <form class="w-1/2 " action="/" method="POST">
            <input  id="city_name" name="city_name"  type="text" class="w-full h-12 rounded-lg p-4  shadow-2xl outline-none focus:shadow-lg border-none " placeholder="City Name">
    </form>
</div>